/* Сброс базовых браузерных стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  min-width: 1100px;
  max-width: 100%;
  background: #FFFFFF;
  position: relative;
}

/* Сброс отступов и стилей базовых элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

/* Сброс оформления ссылок и списков */
a {
  color: inherit;
  text-decoration: underline;
}

ul,
ol {
  list-style: none;
}

/* Изображения все */
img {
  width: 100%;
  height: auto;
  display: block;
}

/* Кнопки */
button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}