/* ======= HEADER ======= */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    max-width: 1100px;
    margin: 0 auto;
    height: 293px;
  }
  
  .header__menu {
    justify-self: start;
  }
  
  .header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .header__links-list-item {
    position: relative;
  }
  
  .header__links-list-item:not(.header__links-list-item_no-bullit)::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .header__links-list-item_no-bullit::before {
    display: none;
  }
  
  .header__link {
    font-size: 18px;
    line-height: 21px;
    text-underline-offset: 4px;
  }
  
  .header__link_active {
    text-decoration: none;
  }
  
  .header__logo {
    justify-self: center;
    width: 148px;
    height: 105px;
  }
  
  .header__logo-image {
    width: 100%;
    height: 100%;
  }
  
  .header__address {
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    max-width: 240px;
  }
  
  .address a {
    text-underline-offset: 4px;
  }
  
  /* ======= COVER ======= */
  .cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-transform: uppercase;
    padding: 165px 50px 50px;
    z-index: 0;
    height: 757px;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  
  .cover__title {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    margin-bottom: 135px;
  }
  
  .aligned-text {
    display: block;
  }
  
  .aligned-text_center {
    text-align: center;
    margin: 20px 60px 0;
  }
  
  .aligned-text_right {
    text-align: right;
    margin-top: 20px;
  }
  
  .letter-spacing-extended {
    letter-spacing: 0.6em;
  }
  
  .no-letter-spacing {
    letter-spacing: 0;
  }
  
  .cover__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cover__description-text {
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;
    text-transform: uppercase;
  }
  
  .bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    background: transparent;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 256px;
    height: 51px;
  }
  
  /* ======= LOTS ======= */
  .lots {
    padding: 180px 50px;
    max-width: 1100px;
    margin: 0 auto;
    height: 723px;
  }
  
  .lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
    font-weight: 700;
    line-height: 47px;
  }
  
  .lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
  }
  
  .lots__card-list-item {
    width: 334px;
    height: 563px;
    flex-shrink: 0;
  }
  
  .card-link {
    display: block;
    height: 100%;
    text-decoration: none;
  }
  
  .card {
    position: relative;
    color: #fff;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .card_type_film {
    background-image: url('../images/card-lot-01.jpg');
  }
  
  .card_type_book {
    background-image: url('../images/card-lot-02.jpg');
  }
  
  .card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
  }
  
  .card__title {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 1;
  }
  
  .card__text {
    position: relative;
    font-size: 20px;
    line-height: 120%;
    z-index: 1;
  }
  
  .lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    line-height: 23px;
    text-underline-offset: 5px;
  }
  
  /* ======= ABOUT ======= */
  .about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
    max-width: 1100px;
    margin: 0 auto;
    height: 595px;
  }
  
  .about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 47px;
  }
  
  .about__logo-image {
    width: 148px;
    height: 114px;
  }
  
  .about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 100px 0;
    font-weight: 700;
    line-height: 47px;
  }
  
  .about__text {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .about__text p {
    margin: 0;
  }
  
  /* ======= FOOTER ======= */
  .footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    padding: 0 50px 90px;
    max-width: 1100px;
    margin: 0 auto;
    height: 180px;
  }
  
  .footer__address {
    justify-self: start;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }
  
  .footer__menu {
    justify-self: center;
  }
  
  .footer__menu-list {
    list-style: none;
    text-align: center;
  }
  
  .footer__menu-list-item {
    margin-bottom: 0;
  }
  
  .footer__menu-link {
    font-size: 18px;
    line-height: 21px;
    text-underline-offset: 4px;
  }
  
  .footer__menu-link_active {
    text-decoration: none;
  }
  
  .footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
  }
  
  .footer__social-list-item {
    width: 48px;
    height: 48px;
  }
  
  .footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
  }
  
  .footer__social-icon {
    width: 48px;
    height: 48px;
  }